.trip-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  height: 100vh;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.trip-info-content {
  flex: 1;
  padding-right: 20px;
  text-align: justify;
  margin-left: 80px; /* Added left margin */
}

.trip-info-content h1, 
.trip-info-content h2 {
  margin-bottom: 25px; /* Added space between title and description */
}

.trip-info-content label {
  display: block;
  margin-bottom: 15px;
}

.trip-info-content input,
.trip-info-content textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.trip-info-content textarea {
  resize: vertical;
  min-height: 100px;
}

.trip-info-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trip-info-image img {
  max-width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 55px;
}

.buttons button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
}

.buttons button:hover {
  background-color: #0056b3;
}

.scroll-down {
  font-size: 1em;
  margin-top: 20px;
}

.image-preview {
  margin-top: 10px;
  max-width: 10%;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;

}
.ul {
  padding-right: 20px;
}

/* src/components/TripInfo.css */

/* Style for input elements */
input[type="text"], input[type="number"], textarea {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0 10px 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

input[type="file"] {
  margin: 10px 0;
}

input[type="text"]:focus, input[type="number"]:focus, textarea:focus {
  border-color: #FF1D58;
  outline: none;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

/* Style for the image preview */
img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Style for buttons in modal */
button {
  background: #FF1D58;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 5px;
}

button:hover {
  background: #e02450;
}

/* Style for buttons in the main content */
.trip-info-container .buttons button {
  background: #FF1D58;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 5px;
}

.trip-info-container .buttons button:hover {
  background: #e02450;
}

